# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:myPassword@localhost:3306/nextapp"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="cloudinarykey"
CLOUDINARY_UPLOAD_PRESET="cloudinaryUploadPreset"
NEXTAUTH_URL=https://myDomain.com
NEXTAUTH_SECRET=EiLltbgT3leO9m4wfz2bvo1EX5xVMlkNWW0jBaKy7xY=
GOOGLE_CLIENT_ID=googleClientId
GOOGLE_CLIENT_SECRET=googleClientSecret
FACEBOOK_CLIENT_ID=fbClientId
FACEBOOK_CLIENT_SECRET=fbClientExample